@use "../iPodMini/iPodMini";
@use "../iPodMini/screen";
@use "../iPhone/iPhone";

.carousel-container {
	display: flex;
	align-items: center;
	// overflow: hidden;
	position: relative;
	/* height: 200px; */
	transition: transform 0.3s;

	.carousel-item {
		flex: 0 0 auto;
		transition:
			transform 0.3s,
			z-index 0.3s;
		/* border: 1px solid #ccc; */
		padding: 10px;
		margin: 0 5px;
		background-color: #fff;
		border-radius: 8px;
		// cursor: pointer;
	}

	.confirm-button {
		background-color: #4caf50;
		color: white;
		border: none;
		padding: 5px 10px;
		cursor: pointer;
	}

	.confirmed-item {
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		padding: 20px;
		border-radius: 8px;
		text-align: center;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&.confirmed {
		transform: scale(0.8) translateY(200px);
	}
}

