@mixin MainContainer {
	#mContainer {
		font-weight: 600;
		transition: 0.3s ease-in-out;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 85vh;
	}
	@content;
}

