// colors

$screen-light: #c1c1ba;
$screen-dark: #484647;
$icon-light-grey: #babdc1;
$light-grey: #f2f2f2;
$mid-grey: #999999;
$dark-grey: #595959;
$very-dark-grey: #4d4d4d;

// background

$light-background: #ffffff;
$dark-background: #e3e4e5;
$light-screen-background: #d6d5d0;
$dark-screen-background: #a5a59b;
$bg-blueDark: #39499b;

